@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat";
}

body.lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-image: url(../img/the-main/gradient-purple.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #15032A;
}

.the-main {
	height: 100vh;
	flex: 1 1 auto;
	display: flex;
	color: white;
}
.the-main .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-between;
	padding: 45px 0px 70px 0px;
}
@media (max-width: 760px) {
	.the-main .container {
		justify-content: space-evenly;
	}
}
@media (max-width: 480px) {
	.the-main .container {
		padding: 0px 0px 70px 0px;
	}
}
@media (max-width: 370px) {
	.the-main .container {
		padding: 0px 0px 50px 0px;
	}
}
.the-main__content {
	width: 100%;
	background-image: url(../img/the-main/the-main-bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
@media (max-width: 760px) {
	.the-main__content {
		background-image: url(../img/the-main-media/the-main-bg.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.the-main__convert {
	display: flex;
	justify-content: flex-end;
	margin: 0px 50px 0px 0px;
}
@media (max-width: 760px) {
	.the-main__message {
		display: none;
	}
}
.header {
	position: relative;
	background-color: #15032A;
	display: flex;
	flex-direction: column;
	width: 80px;
	height: 100%;
	color: white;
}
@media (max-width: 370px) {
	.header {
		width: 60px;
	}
}
.header__content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header__burger {
	margin: 10px 0px 0px 0px;
}
.header__items {
	flex: 0 1 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
@media (max-width: 750px) {
	.header__items {
		flex: 0 1 40%;
	}
}
.header__text {
	transform: rotate(-90deg);
	display: flex;
}
.header__description {
	flex: 1 0 auto;
	font-size: 12px;
	line-height: 3.3;
	text-align: bottom;
}
.header__description span {
	font-size: 10px;
	line-height: 4;
	color: #B5BBC4;
	margin: 0px 0px 0px 10px;
}
.header__scroll {
	align-self: center;
	cursor: pointer;
}
.header__arrow {
	width: 40px;
	height: 30px;
	display: block;
	text-align: center;
	animation: arrow 1.3s infinite linear;
	position: relative;
}

@keyframes arrow {
	0% {
		top: 0px;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0px;
	}
}
.burger-menu {
	z-index: 100;
	display: block;
	position: relative;
	height: 25px;
	width: 30px;
	top: 100%;
	left: 30%;
	cursor: pointer;
	transition: all 1s ease;
	background-color: #15032A;
}
@media (max-width: 370px) {
	.burger-menu {
		left: 25%;
	}
}
.burger-menu::after, .burger-menu::before {
	content: "";
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: white;
	display: block;
	left: 0;
}
.burger-menu::after {
	transition: all 1s ease;
	bottom: 0px;
}
.burger-menu::before {
	transition: all 1s ease;
	top: 0px;
}
.burger-menu span {
	content: "";
	position: absolute;
	height: 3px;
	background-color: white;
	width: 100%;
	display: block;
	top: 11px;
}
.burger-menu.active::after {
	transform: rotate(-45deg);
	top: 11px;
	transition: 0.5s;
}
.burger-menu.active::before {
	transform: rotate(45deg);
	top: 11px;
	transition: 0.5s;
}
.burger-menu.active span {
	transform: scale(0);
}

.burger__nav {
	position: absolute;
	top: -500%;
	left: 0%;
	transition: 1s;
}
.burger__nav.active {
	content: "";
	background-color: #15032A;
	z-index: 100;
	top: 0%;
	left: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	overflow: auto;
	position: fixed;
}
@media (max-width: 480px) {
	.burger__nav.active {
		width: 100vw;
		height: 100vh;
		overflow: auto;
		left: 14%;
	}
}
.burger__list {
	padding: 30px 0px 30px 0px;
}
.burger__link {
	padding: 20px;
	display: block;
	color: white;
	text-transform: uppercase;
}

.title {
	font-size: 132px;
	line-height: 0.77;
	letter-spacing: -6.6px;
	font-weight: bold;
	text-align: center;
	position: relative;
	background-image: url(../img/the-main/ellipseYour.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-transform: uppercase;
}
@media (max-width: 760px) {
	.title {
		background-image: none;
		text-align: left;
		padding-left: 40px;
	}
}
@media (max-width: 680px) {
	.title {
		font-size: 100px;
	}
}
@media (max-width: 540px) {
	.title {
		font-size: 80px;
	}
}
@media (max-width: 480px) {
	.title {
		padding-left: 20px;
	}
}
@media (max-width: 420px) {
	.title {
		font-size: 70px;
	}
}
@media (max-width: 370px) {
	.title {
		font-size: 60px;
		padding-left: 10px;
	}
}
.title__text span {
	display: block;
}
.title__text .your {
	display: none;
}
@media (max-width: 760px) {
	.title__text .your {
		display: block;
	}
}

.description {
	display: flex;
	flex-direction: row;
}
.description__column {
	flex: 1 1 50%;
	align-items: center;
}
@media (max-width: 760px) {
	.description__column.description__column_hid {
		display: none;
	}
}
.description__title {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.04;
	margin: 0px 0px 10px 130px;
}
@media (max-width: 760px) {
	.description__title {
		margin: 0px 30px 10px 50px;
	}
}
@media (max-width: 680px) {
	.description__title {
		position: static;
	}
}
@media (max-width: 480px) {
	.description__title {
		margin: 0px 0px 10px 25px;
	}
}
@media (max-width: 370px) {
	.description__title {
		margin: 0px 0px 10px 10px;
		font-size: 20px;
	}
}
.description__dots {
	position: absolute;
	right: 10%;
	bottom: 20%;
	font-size: 30px;
	align-self: flex-start;
	color: white;
}
@media (max-width: 680px) {
	.description__dots {
		position: absolute;
		right: 10%;
		bottom: 5%;
	}
}
.description__text {
	font-size: 13px;
	line-height: 1.92;
	max-width: 500px;
	margin: 0px 0px 0px 130px;
}
@media (max-width: 760px) {
	.description__text {
		margin: 0px 10px 0px 50px;
	}
}
@media (max-width: 680px) {
	.description__text {
		text-align: left;
	}
}
@media (max-width: 480px) {
	.description__text {
		margin: 0px 10px 0px 25px;
	}
}
@media (max-width: 370px) {
	.description__text {
		margin: 0px 10px 0px 10px;
	}
}
.description__date {
	display: flex;
	justify-content: flex-end;
	margin: 0px 60px 0px 0px;
}
.description__date img {
	transform: rotate(-90deg);
	margin: 10px 0px 45px 0px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
	position: relative;
	min-height: 0;
	width: 100%;
}
.slider .slick-arrow {
	position: absolute;
	top: 37%;
	font-size: 0px;
	width: 24px;
	height: 42px;
	z-index: 30;
}
.slider__item {
	min-width: 0;
	text-align: center;
}
.slider .slick-arrow.slick-prev {
	left: 75px;
	background: url("../img/slider-up/sl-arrow_l.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
	right: 75px;
	background: url("../img/slider-up/sl-arrow_r.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.slider__like {
	position: relative;
}
.slider__like span {
	position: absolute;
	bottom: 6.1%;
	right: 5%;
	color: white;
	font-size: 12px;
	line-height: 1.3;
}
.slider__like .img-relative {
	position: relative;
	max-width: 100%;
}
.slider__like .img-absolute {
	position: absolute;
	bottom: 7.4%;
	right: 12%;
}

.slider-content {
	background-image: url("../img/slider-up/slider-bg.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto;
	padding: 100px 0px 25px 0px;
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__item {
	flex: 0 1 379px;
	margin: 0 20px;
	background-color: white;
	text-align: center;
}
.slider__title {
	font-size: 25px;
	line-height: 1.6;
	text-align: left;
	padding: 35px 40px 10px 40px;
	color: #0c2539;
}
.slider__text {
	text-align: left;
	font-size: 13px;
	line-height: 1.85;
	padding: 0px 40px 35px 40px;
	color: #677278;
}
.slider__footer {
	display: flex;
}
.slider__column {
	flex: 0 1 50%;
	border: 1px solid #F5F5F5;
	display: flex;
}
.slider__comments {
	font-size: 12px;
	line-height: 3.3;
	color: #0c2539;
	display: flex;
	align-items: center;
	padding: 0px 0px 0px 20px;
}
.slider__comments span {
	padding: 0px 0px 0px 10px;
}
.slider__dots {
	align-self: center;
	margin-left: auto;
	text-align: center;
}
.slider__dots a {
	font-weight: bold;
	font-size: 35px;
	color: black;
}
.slider__link {
	background-color: #F5F5F5;
	display: block;
	padding: 5px 20px 20px 20px;
}