//Сброс=======================================>>>
@import "reset";
/* Шрифты */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Стили================>>> */

$md4: 760px;
$md3-5: 600px;
$md3: 480px;
$md1: 320px;

html {
	scroll-behavior: smooth;
}

body {
	font-family:"Montserrat";
}
@media (max-width:$md4){
	body.lock {
		overflow: hidden;
	}

}


.container {
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-image: url(../img/the-main/gradient-purple.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-color:#15032A ;
	@media	(max-width:$md4) {
		background-image: none;
	}
}

.the-main {
	height: 100vh;
	flex: 1 1 auto;
	display: flex;
	color: white;
	& .container {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: space-between;
		padding:45px 0px 70px 0px;
		@media	(max-width:$md4) {
			justify-content: space-evenly;
		}
		@media	(max-width:$md3) {
			padding:0px 0px 70px 0px;
		}
		@media	(max-width:370px) {
			padding:0px 0px 50px 0px;
		}
	}
		// .the-main__content
		&__content {
			width: 100%;
			background-image: url(../img/the-main/the-main-bg.jpg);
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			@media	(max-width:$md4) {
				background-image: url(../img/the-main-media/the-main-bg.jpg);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		// .the-main__convert
		&__convert {
			display: flex;
			justify-content: flex-end;
			margin:0px 50px 0px 0px;
		}

		// .the-main__message
		&__message {
			@media	(max-width:$md4) {
				display: none;
			}
		}

		// .the-main__title
		&__title {
			
		}

		// .the-main__description
		&__description {
		}
}

.header {
	background-color:#15032A ;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80px;
	height: 100%;
	color: white;
	padding:20px 0px 40px 0px;
	@media	(max-width:370px) {
		width: 60px;
	}
	@media	(max-width:480px) {
		padding:20px 0px 120px 0px;
	}
	@media	(max-width:380px) {
		padding:20px 0px 80px 0px;
	}

	@media screen and (orientation:landscape) and (max-width:$md3-5) {
		padding:0px 0px 0px 0px;
	}

		// .header__content
		&__content {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		// .header__burger
		&__burger {
			display: inline;
		}

		// .header__items
		&__items {
			flex: 0 1 20%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content:space-between;
				@media	(max-width:750px) {
					flex: 0 1 35%;
					
				}
		}

		// .header__text
		&__text {
			transform: rotate(-90deg);
			display:flex;
			justify-self: center;
		}

		// .header__description
		&__description {
			flex: 1 0 auto;
			font-size: 12px;
			line-height: 3.3;
			text-align: bottom;
			& span {
				font-size: 10px;
				line-height: 4;
				color: #B5BBC4;
				margin:0px 0px 0px 10px;
			}
		}

		// .header__scroll
		&__scroll {
			align-self: center;
			cursor: pointer;
			
		}
		// .header__arrow
		&__arrow  {
			width: 40px;
			height: 30px;
			display: block;
			text-align: center;
			animation: arrow 1.3s infinite linear ;
			position: relative;
		}
}

@keyframes arrow {
	0% {
		top: 0px;
	}

	50% {
		top: 10px;
	}

	100% {
		top: 0px;
	}
}


.burger-menu {
	z-index: 101;
	display: block;
	position: relative;
	height: 25px;
	width: 30px;
	top: 100%;
	left: 30%;
	cursor: pointer;
	transition: all 1s ease;
	background-color: #15032A;
	@media	(max-width:370px) {
		left: 25%;
	}
	&::after,
	&::before {
		content: "";
		position: absolute;
		height: 3px;
		width: 100%;
		background-color: white;
		display: block;
		left: 0;
	}

	&::after{
		transition: all 1s ease;
		bottom: 0px;
	}

	&::before{
		transition: all 1s ease;
		top: 0px;
	}
	& span {
		content: "";
		position: absolute;
		height: 3px;
		background-color: white;
		width: 100%;
		display: block;
		top: 11px;
		
	}

	&.active::after{
		transform: rotate(-45deg);
		top: 11px;
		transition: 0.5s;
	}

	&.active::before{
		transform: rotate(45deg);
		top: 11px;
		transition: 0.5s;
	}

	&.active span {
		transform: scale(0);
	}
}


.burger {

	
		// .burger__nav
		&__nav {
			position: absolute;
			left: -500%;
			top: 0%;
			transition:1s;
			
		}

		&__nav.active {
			content: "";
			background-color:#15032A;
			z-index: 100;
			top: 0%;
			left: 72px;
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items:flex-start;
			position: fixed;
			@media	(max-width:$md4) {
				overflow: auto;
				position: fixed;
			}
			@media	(max-width:$md4) {
				width: 100vw;
				height: 100vh;
				overflow: auto;
				left: 10%;
				top: 0%;
			}
		}

		// .burger__list
		&__list {
			padding:30px 0px 30px 0px;
			
		}

		// .burger__link
		&__link {
			padding:20px;
			display: block;
			color: white;
			text-transform: uppercase;
		}
		@media	(min-width:1000px) {
			&__link:hover {
				font-size: 17px;
				transition: 0.5s;
			}
		}	
}


.title {
	font-size: 132px;
	line-height: 0.77;
	letter-spacing: -6.6px;
	font-weight: bold;
	text-align: center;
	position: relative;
	background-image: url(../img/the-main/ellipseYour.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-transform: uppercase;
	@media	(max-width:$md4) {
		text-align: left;
		padding-left: 40px;
		background-image:none;
	}
	@media	(max-width:680px) {
		font-size: 100px;
	}
	@media	(max-width:540px) {
		font-size: 80px;
	}
	@media	(max-width:$md3) {
		padding-left: 20px;
	}
	@media	(max-width:420px) {
		font-size: 70px;
	}
	@media	(max-width:370px) {
		font-size: 60px;
		padding-left: 10px;
	}
	@media screen and (orientation:landscape) and (max-width:$md4) {
		font-size: 100px;
		padding: 10px 0px 20px 40px;
		background-image:none;
	}

	@media screen and (orientation:landscape) and (max-width:$md3-5) {
		font-size: 80px;
		padding: 10px 0px 20px 40px;
	}
		// .title__text
		&__text {
			& span{
				display: block;
			}
			& .your {
				display: none;
				@media	(max-width:$md4) {
					display: block;
				}
			}
		}
}

.description {
	display: flex;
	flex-direction: row;
		// .description__column
		&__column {
			flex: 1 1 50%;
			align-items: center;
				&.description__column_hid {
					@media	(max-width:$md4) {
						display: none;
					}
				}
		}
		// .description__title
		&__title {
			position: relative;
			font-size: 24px;
			font-weight: bold;
			line-height: 1.04;
			margin:0px 0px 10px 130px;
			@media	(max-width:$md4) {
					margin:0px 30px 10px 50px;
			}
			@media (max-width:680px) {
				position: static;
			}
			@media	(max-width:480px) {
				margin:0px 0px 10px 25px;
			}
			@media	(max-width:370px) {
				margin:0px 0px 10px 10px;
				font-size: 20px;
			}
		}

		// .description__dots
		&__dots {
			position: absolute;
			right: 10%;
			bottom: 20%;
			font-size: 30px;
			align-self: flex-start;
			color: white;
				@media	(max-width:680px) {
					position: absolute;
					right: 10%;
					bottom: 5%;
				}
		}

		// .description__text
		&__text {
			font-size: 13px;
			line-height: 1.92;
			max-width: 500px;
			margin:0px 0px 0px 130px;
			@media	(max-width:$md4) {
				margin:0px 10px 0px 50px;
			}
			@media (max-width:680px) {
				text-align: left;
			}
			@media	(max-width:480px) {
				margin:0px 10px 0px 25px;
			}
			@media	(max-width:370px) {
				margin:0px 10px 0px 10px;
			}

		}

		// .description__date
		&__date {
			display: flex;
			justify-content: flex-end;
			margin:0px 60px 0px 0px;
				& img {
					transform: rotate(-90deg);
					margin:10px 0px 45px 0px;
				}
		}
	}


//* Слайдер ==========================>>>


.slick-slider{
	
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Слайд */
.slick-slide{
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{
}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider {
	position: relative;
	min-height: 0;
	width: 100%;
	
	& .slick-arrow{
		position: absolute;
		top: 37%;
		font-size: 0px;
		width: 24px;
		height: 42px;
		z-index: 30;
	}
		// .slider__item
		&__item {
			min-width: 0;
			text-align: center;
		}
		&__item img {
		}
}

.slider {
	& .slick-arrow.slick-prev{
		left: 75px;
		background: url('../img/slider-up/sl-arrow_l.svg') 0 0 / 100% no-repeat;
	}
	& .slick-arrow.slick-next{
		right: 75px;
		background: url('../img/slider-up/sl-arrow_r.svg') 0 0 / 100% no-repeat;
	}

	& .slick-arrow.slick-disabled{
		opacity: 0.2;
	}
}

.slider__like {
	position: relative;

	& span {
		position: absolute;
		bottom: 6.1%;
		right: 5%;
		color: white;
		font-size: 12px;
		line-height: 1.3;
		
	}

	& .img-relative {
		position: relative;
		max-width: 100%;
	}

	& .img-absolute {
		position: absolute;
		bottom: 7.4%;
		right: 12%;
	}
}

.slider-content {
	background-image: url('../img/slider-up/slider-bg.png');
	background-repeat: no-repeat;
	background-position: right ;
	background-size:52%  ;
	padding:50px 0px 25px 0px;
		@media	(max-width:$md3) {
			padding:40px 0px 20px 0px;
		}
		@media	(max-width:$md4) {
			background-image: none;
			background-color:#15032A ;
		}
		& .slider__uptitle {
			color: #f5f5f5;
			margin:0px 0px 40px 18%;
			font-size: 18px;
			line-height: 2.22;
			text-align: left;
		}
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
		// .slider__item
		&__item {
			flex: 0 1 379px;
			margin: 0 20px;
			background-color: white;
			text-align: center;
				@media	(max-width:420px) {
					margin: 0 10px;
					flex: 0 1 330px;
				}
				@media	(max-width:350px) {
					flex: 0 1 300px;
					margin: 0px 5px;
				}
		}

		// .slider__like
		&__like {
		}

		// .slider__body
		&__body {
			position: relative;			
		}

		// .slider__title
		&__title {
			font-size: 25px;
			line-height: 1.6;
			text-align: left;
			padding:35px 40px 10px 40px;
			color: #0c2539;
		}

		// .slider__text
		&__text {
			text-align: left;
			font-size: 13px;
			line-height: 1.85;
			padding:0px 40px 35px 40px;
			color: #677278;
		}

		// .slider__footer
		&__footer {
			display: flex;
			
		}

		// .slider__column
		&__column {
			flex: 0 1 50%;
			border: 1px solid #F5F5F5;
			display: flex;
		}

		// .slider__comments
		&__comments {
			font-size: 12px;
			line-height: 3.3;
			color: #0c2539;
			display: flex;
			align-items: center;
			padding:0px 0px 0px 20px;
				& span {
					padding:0px 0px 0px 10px;
				}
		}

		// .slider__dots
		&__dots {
			align-self: center;
			margin-left: auto;
			text-align: center;
				& a {
					font-weight: bold;
					font-size: 35px;
					color: black;
				}
		}

		// .slider__link
		&__link {
			background-color: #F5F5F5;
			display: block;
			padding:5px 20px 20px 20px;
		}
}


//! Two page main========================>>>>
// * THE MAIN TWO ==========================>>>>


.the-main-two {
	height: 100vh;
	flex: 1 1 auto;
	display: flex;
	color: white;
	& .container {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: space-around;
		padding:250px 0px 0px 0px;
		@media	(max-width:$md4) {
			justify-content: space-around;
			padding:150px 0px 0px 0px;
		}
		@media screen and (orientation:landscape) and (max-width:$md4) {
			padding:0px 0px 0px 0px;
		}
		@media	(max-width:$md3) {
			padding:100px 0px 0px 0px;
		}
		@media	(max-width:370px) {
			padding:70px 0px 0px 0px;
			justify-content: space-evenly;
		}
	}

	// .the-main-two__content
	&__content {
			width: 100%;
			background-image: url(../img/the-main-two/the-main-two-bg.jpg);
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			@media	(max-width:$md4) {
				background-image: url(../img/the-main-two/the-main-two-mob-bg.jpg);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
	}

	// .the-main-two__title

	&__title {
		
	}

	// .the-main-two__description

	&__description {
		& .description__title {
			@media	(max-width:$md4) {
				margin:0px auto 10px auto;
			}
		}
		& .description__text {
			@media	(max-width:$md4) {
				margin: 0 auto;
				text-align: center;
			}
		}

		& .description__column {
			@media	(max-width:$md4) {
				text-align: center;
			}
		}

		& .description__dots {
			@media	(max-width:$md4) {
			display: none;
		}
	}
}



.header-two {

	position: relative;
	display: flex;
	flex-direction: column;
	width: 80px;
	height: 100%;
	color: white;
	padding:0px 0px 0px 0px;

	@media	(max-width:$md4) {
		display: none;
	}
	// .header-two__content
	&__content {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column-reverse;
			
	}

	// .header-two__items

	&__items {
			flex: 0 1 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
	}

	// .header-two__text
	&__text {
		transform: rotate(-90deg);
		display:flex;
		justify-self: center;
	}

	// .header-two__description
	&__description {
		flex: 1 0 auto;
			font-size: 12px;
			line-height: 3.3;
			text-align: bottom;
			& span {
				font-size: 10px;
				line-height: 4;
				color: #B5BBC4;
				margin:0px 0px 0px 10px;
			}
	}

	// .header-two__scroll
	&__scroll {
	}
}


.title-two {
	font-size: 132px;
	line-height: 0.9;
	letter-spacing: -6.6px;
	font-weight: bold;
	text-align: center;
	position: relative;
	background-image: url(../img/the-main-two/only.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-transform: uppercase;
		@media	(max-width:$md4) {
			font-size: 100px;
		}

		@media	(max-width:$md3) {
			font-size: 80px;
			background-image: none;
		}
		
		@media	(max-width:400px) {
			font-size: 65px;
		}
}
}

.background {
	background-image: url(../img/slider-up/slider-bg.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 49% 60%;
		@media	(max-width:$md4) {
			background-image: none;
		}
}







// * ARTICLE TEXT * ==========================>>>




.article {
	color: white;
	display: flex;
	align-items: center;
	padding:80px 0px 60px 0px;
		@media	(max-width:$md4) {
				padding:70px 75px 30px 75px;
		}
			@media	(max-width:$md3-5) {
				padding:40px 40px 30px 40px;
			}
				@media	(max-width:$md3) {
					padding:25px 20px 35px 25px;
				}

	& .container {
		max-width: 1200px;
		text-align: left;
		margin: 0 auto;
		padding:0px 0px 0px 0px;
			@media	(max-width:$md4) {
				max-width: 750px;
			}
	}

		// .article__header
		&__header {
			display: flex;
			flex-direction: column;
			min-width: 79px;
			height: 100%;
			transform: rotate(-90deg);
				@media	(max-width:$md4) {
					display: none;
				}
		}

		// .article__content-header
		&__content-header {
			
		}

		// .article__text
		&__text {
			
			// .article__text_l
			&_l {
				
			}
		}

		// .article__description
		&__description {
			color: #B5BBC4;
			font-size: 12px;
			
			
		}

	// .article__body
	&__body {
		display: flex;
		justify-content: flex-start;
			@media	(max-width:$md4) {
				display: block;
			}
	}

	// .article__column
	&__column {
		flex: 0 1 50%;
	}

	// .article__text
	&__text {
		font-size: 13px;
		line-height: 1.92;
		color: #d6d6d6;
		margin:0px 20px 0px 0px;
			@media	(max-width:$md4) {
				padding:0px 0px 20px 0px;
				margin:0px 0px 0px 0px;
			}
			
		// .article__text_big
		&_big {
			padding:0px 0px 20px 0px;
		}
	}
}

//! SLIDER-TWO===========================>>>>>

.sider-content_two {
	background-image: none;
		@media	(max-width:$md4) {
			display: none;
		}
}


//*** ARTICLE 4 COLUMNS =============================>>>>>>>>>>>


.article-column {
	color: white;
	display: flex;
	align-items: center;
	.container {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		padding:80px 0px 40px 0px;
			@media	(max-width:$md4) {
				padding:0px 0px 20px 0px;
			}
			@media	(max-width:$md3-5) {
				padding:0px 0px 0px 0px;
			}
	}

		// .article-column__header
		&__header {
			display: flex;
			flex-direction: column;
			min-width: 79px;
			height: 100%;
			transform: rotate(-90deg);
			@media	(max-width:$md4) {
			display: none;
			}
		}

		

		// .article-column__description
		&__description {
			line-height: 3.33;
			font-size: 12px;
			color: #b5bbc4;
		}

	// .article-column__body
	&__body {
		display:flex;
		max-width: 1300px;
		@media	(max-width:$md4) {
			max-width: 750px;
			flex-wrap: wrap;
			justify-content: center;
		}
			@media	(max-width:$md3) {
				display: block;
			}
	}

	// .article-column__columns
	&__columns {
		flex: 1 1 25%;
		text-align: left;
		margin:0px 10px 0px 10px;
		@media	(max-width:$md4) {
			flex: 0 1 40%;
			margin:0px 0px 0px 0px;
			padding:0px 5px 50px 5px;
		}
			@media	(max-width:$md3-5) {
				flex: 0 1 45%;
			}
				@media	(max-width:$md3) {
					text-align: center;
					padding:0px 15px 40px 15px;
				}
				
	}
}

.columns {

	// .columns__title
	&__title {
		font-size: 24px;
		padding:0px 0px 20px 0px;
	}

	// .columns__text
	&__text {
		font-size: 13px;
		line-height: 1.92;
		color: #d6d6d6;
	}
}


//*** AUTHOR BLOCK============================>>>>>>

.author {
	height: 615px;
	width: 100%;
	background-image: url(../img/under-slider/author-bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
		@media	(max-width:$md4) {
			background-image: url(../img/under-slider/author-bg-media.jpg);
			background-position: left;
		}
	// .author__container
	&__container {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		@media	(max-width:$md4) {
			align-items: flex-end;
			justify-content: space-evenly;
			padding:0px 0px 80px 0px;
		}
	}

	// .author__content
	&__content {
		flex: 0 1 50%;
		text-align: left;
		display: flex;
		flex-direction: column;
		@media	(max-width:$md4) {
			flex: 1 1 100%;
		}
	}

	&__content_hid {
		@media	(max-width:$md4) {
			display: none;
		}
	}

	&__content_width {
		max-width:400px;
		margin-right: 20px;
		@media	(max-width:$md4) {
			max-width: 580px;
			margin:0px 0px 0px 20px;
		}
	}

	// .author__subtitle
	&__subtitle {
		font-size: 16px;
		line-height: 1.38;
		color: #ffffff;
		@media	(max-width:$md4) {
			font-size: 30px;
			line-height: 0.73;
		}
	}

	// .author__name
	&__name {
		color: #ffffff;
		line-height: 0.55;
		font-size: 40px;
		margin:15px 0px 35px 0px;
		@media	(max-width:$md4) {
			font-size: 72px;
			line-height:0.9;
			margin:20px 0px 45px 0px;
		}
	}

	// .author__text
	&__text {
		color: #d6d6d6;
		font-size: 13px;
		line-height: 1.92;
		@media	(max-width:$md4) {
			font-size: 16px;
			line-height: 1.56;
			max-width:400px;
		}
	}

}

//*** FOOTER ======================>>>>>>>>>>>>>>>>>>>>>

.footer {

	.container {
		max-width: 1000px;
		padding:75px 0px 115px 0px;
			@media	(max-width:380px) {
				padding:45px 0px 40px 0px;
			}
	}
	color: white;
	// .footer__body
	&__body {
		display: flex;
		flex-direction:column ;
		margin:0px 10px 0px 10px;
	}

	// .footer__item
	&__item {
		
	}

	&__item_columns {
		display: flex;
		justify-content: space-evenly;
		margin:0px 0px 70px 0px;
		@media	(max-width:$md3) {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		@media	(max-width:380px) {
			display: block;
			
	}
}
	

	&__item_text {
		display: flex;
		justify-content: space-evenly;
		
	}

	// .footer__columns
	&__columns {
		@media	(max-width:380px) {
			padding:0px 0px 30px 0px;
		}
		
	}

	// .footer__text
	&__text {
		font-size: 12px;
		line-height: 1.83;
		color: #5c5b61;
		margin:0px 70px 0px 0px;
		@media	(max-width:$md4) {
			margin:0px 30px;
		}

		& span {
			display: none;
			@media	(max-width:$md4) {
				display: block;
			}
		}

}
}


.column-footer {
	text-align: left;
	@media	(max-width:380px) {
		text-align: center;
	}
	// .column-footer__title
	&__title {
		color:#0A675F;
		font-size: 11px;
		line-height: 1.09;
		text-transform: uppercase;
		margin:0px 0px 20px 0px;
	}

	// .column-footer__text
	&__text {
		font-size: 12px;
		line-height: 2;
		max-width: 300px;
	}

	// .column-footer__list
	&__list {
	}

	// .column-footer__link
	&__link {
		font-size: 12px;
		line-height: 2;
		color: #ffffff;
		display: inline-block;
		padding:5px 0px;
	}
}
	
.title {
	@media	(max-width:760px) {
		background-image:none;
	}

}
